<div class="staging">
  <div class="containerCustom">
    <h2>WARNING! ACHTUNG! ATENCIÓN! УВАГА!</h2>
    <p>This is a <span>preview version</span> of the KeyOS community website. It may differ from the production version in the most unexpected ways:</p> 
    <p>contain links to untested KeyOS images, contain misleading information, or simply be horribly broken.</p>
    <p>Unless you are looking for a preview website version, please leave this page and go to the production version at <a href="https://keyos.net">https://keyos.net</a>!</p>
  </div>
</div>
